$patricks-green: #78a298;
$patricks-green-darker: darken($patricks-green, 10%);
$patricks-blue: #28547a;
$theme-background: $patricks-green;
$hover-color: yellow;
$b-bg: purple;
$b-size: 5px;
$b-style: solid;
